.text-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text-container li {
  text-align: left;
  list-style: decimal;
}

.text-container strong {
  margin: 20px 0;
  display: block;
}
